h1 {
    background-color: aquamarine;
    padding: 20px;
}

nav {
    background-color: blueviolet;
    padding: 20px;
}
 
nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    font-size: larger;
 }

 nav a:hover {
    color: white;
    background-color: firebrick;
 }

article {
    background-color: dimgrey;
}

 img {
     width: 250px;
     height: 250px;
 }

 .images {
     display: flex;
     background-color: goldenrod;
 }

 .img1 {
     flex: 50%;
     text-align: center;
     padding: 10px;
 }

 .img2 {
     flex: 50%;
     text-align: center;
     padding: 10px;
 }