h1 {
    background-color: aquamarine;
    padding: 20px;
}

nav {
    background-color: blueviolet;
    padding: 20px;
}
 
nav a {
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    font-size: larger;
 }

 nav a:hover {
    background-color: firebrick;
 }

 img {
     width: 250px;
     height: 250px;
 }