/* following code from: https://stackoverflow.com/questions/64508137/how-to-use-ttf-as-font-family-in-html */
@font-face {
    font-family: "MyWebFont";
    src: url("MountainsofChristmas.ttf")
}

body {
    font-family: 'Times New Roman', Times, serif;
}

h1, h3, label, button {
    font-family: "MyWebFont";
}

#lights {
    text-align: center;
}

label {
    color: aliceblue;
}

#button-container {
    padding: 10px;
    text-align: center;
}

#user-form {
    text-align: center;
}

#headers {
    text-align: center;
    color: aliceblue;
    font-family: "MyWebFont";
}

h1 {
    font-size: 4.5vw;
}

#intro {
    font-size: 2.2vw;
    margin: 10px;
    padding: 10px;
}

label {
    font-size: 1.5vw;
    font-weight: normal;
}

#country-label {
    padding-left: 10px;
}

#year-help-block, #country-help-block {
    visibility: hidden;
}

#holiday-table {
    padding: 0px 30px 30px 30px;
    visibility: hidden;
}

table {
    background-color: transparent;
    text-align: center;
    margin: auto;
    /* font-size: 1.2vw; */
    /* following line from: https://codepen.io/alexerlandsson/pen/mPWgpO */
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

th {
    text-align: center;
}

td {
    font-size: larger;
}

.table > tbody > tr > th, .table > tbody > tr > td {
    border-top: transparent;
    color: aliceblue;
}

#country-name {
    font-size: xx-large;
}

#dates-row, #local-row, #common-row {
    font-size: x-large;
}



/* following code retrieved from: https://codepen.io/n-sayenko/pen/qOXKVr */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(117, 114, 113, 0.8) 10%, rgba(40, 49, 77, 0.8) 30%, rgba(29, 35, 71, 0.8) 50%, rgba(19, 25, 28, 0.8) 80%, rgba(15, 14, 14, .8) 100%), url(https://38.media.tumblr.com/tumblr_m00c3czJkM1qbukryo1_500.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

/* following code retrieved from: https://www.developphp.com/video/CSS/Holiday-Christmas-Lights-Animation-Tutorial-CSS-JavaScript */
.bulb {
	width: 40px;
	height: 40px;
	display: inline-block;
	margin: 0px 10px;
	border-radius: 100% 4px;
	transform: rotate(-45deg);
}
.bulb:nth-child(odd) {
	background: #ff6c6c;
	opacity: 1;
	box-shadow: 1px 1px 15px #ff6c6c, -1px -1px 15px #ff6c6c;
	animation: bulb-pulse-1 0.8s linear 0s infinite alternate;
}
.bulb:nth-child(even) {
	background: #0C0;
	opacity: .3;
	box-shadow: none;
	animation: bulb-pulse-2 0.8s linear 0s infinite alternate;
}
@keyframes bulb-pulse-1 {
	from { box-shadow: 1px 1px 15px #ff6c6c, -1px -1px 15px #ff6c6c; opacity: 1; }
	to { box-shadow: none; opacity: .3; }
}
@keyframes bulb-pulse-2 {
	from { box-shadow: none; opacity: .3; }
	to { box-shadow: 1px 1px 15px #0C0, -1px -1px 15px #0C0; opacity: 1; }
}