body {
    font-family: sans-serif;
    background:#56baed;
    text-align: center;
}

#startGame{
    /* Following code from: https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/ */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Following code from: https://www.codingnepalweb.com/tic-tac-toe-game-javascript/ */
    font-size: 40px;
    padding: 10px;
    background: #fff;
    border: solid black 3px;
    border-radius: 10px;
    color:#56baed;
    cursor: pointer;
}

#cell1, #cell2, #cell3, #cell4, #cell5, #cell6, #cell7, #cell8, #cell9 {
    width: 150px;
    height: 150px;
    border: solid black 4px;
    /* Following code from: https://www.codebrainer.com/blog/tic-tac-toe-javascript-game*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    }

#board {
    margin: auto;
    margin-top: 5%;
    width: fit-content;
    visibility: hidden;
    /* Following code from: https://www.codebrainer.com/blog/tic-tac-toe-javascript-game*/
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, auto);
}

#cell1, #cell2, #cell3 {
    border-top: none;
}

#cell3, #cell6, #cell9 {
    border-right: none;
}

#cell7, #cell8, #cell9 {
    border-bottom: none;
}

#cell1, #cell4, #cell7 {
    border-left: none;
}
