#css-zen-garden {
    text-align: center;
    color: whitesmoke;
    background-image: url(https://i.stack.imgur.com/jGlzr.png);
}

h1 {
    background-color: rgba(78, 18, 0, 0.534);
    border: 13px solid;
    border-image: url(https://static.vecteezy.com/system/resources/previews/001/084/274/original/abstract-brown-wood-texture-vector.jpg) 90;
    font-size: 40px;
    font-style: italic;
    text-shadow: 2px 2px 8px chocolate;
}

h2 {
    font-size: x-large;
}

h3 {
    margin-top: 0px;
    text-shadow: 2px 2px 8px chocolate;
    padding: 10px;
    border: 2px solid black;
    border-radius: 4px;
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/084/274/original/abstract-brown-wood-texture-vector.jpg);
}

p {
    font-size: 18px;
    padding: 8px;
}

li {
    text-align: left;
}

abbr {
    font-family: monospace;
    font-weight: bold;
}

li {
    list-style: none;
    padding: 3px 0px 3px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger;
}

li:hover::marker {
    content: "🪓";
}

.design-selection, .design-archives, .zen-resources {
    width: 33.33%;
    float: left;
}


.preamble, .explanation, .participation, .benefits, .requirements {
    border: 2px solid transparent;
}

.preamble:hover, .explanation:hover, .participation:hover, .benefits:hover, .requirements:hover {
    transition: 1s all ease-in;
    background-color: rgba(78, 18, 0, 0.534);
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
